:root {
  /* 1. Tło główne (Ciepły, pastelowy beż / ecru) */
  --bg-main: #fcfaf7;

  /* 2. Karty, sekcje, nawigacja (Czysta biel dla przejrzystości) */
  --bg-card: #ffffff;

  /* 3. Kolor główny / Przychody / Sukces (Szałwiowa, miękka zieleń) */
  --color-primary: #558467;
  --color-primary-hover:#3e645a;
  --color-primary-light: #e8f0ec; /* Tło pod wykresy/etykiety */

  /* 4. Wydatki / Ostrzeżenia (Pastelowy, zgaszony koral - nieagresywny) */
  --color-expense: #e07a5f;

  /* 5. Tekst i nagłówki (Ciemna, ciepła szarość zamiast czystej czerni) */
  --text-main: #2f3e46;
  --text-muted: #7f8c8d;

  /* 6. Ramki i podziały (Bardzo delikatny, ciepły szary) */
  --border-color: #e3ded5;
  --border-color-hover: #e5e1d9;

  --border-radius: clamp(0.5rem, 2vw, 1rem);
}

.body-custom {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.btn-success-custom {
  background-color: var(--color-primary);
  color: var(--bg-card);
  border-radius: var( --border-radius); 
  border: none;
}

.btn-success-custom:hover,
.btn-success-custom:active,
.btn-success-custom:focus,
.btn-success-custom:focus-visible,
.btn-success-custom:first-child:active {
  background-color: var(--color-primary-hover) !important;
}

.text-success-custom {
  color: var(--color-primary);
}

.form-control-custom {
 border-radius: var(--border-radius); 
 border-color: var(--border-color);
}

.form-control-custom:focus {
  border-color: var(--border-color);
  box-shadow: 0 0 0 0.15rem var(--border-color-hover);
}
